/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	IRMA Baitussalam Website
VERSION:	v1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@font-face {
  font-family: AhlanWasahlan;
  src: url("../font/Ahlan Wasahlan.ttf") format("truetype");
}
@font-face {
  font-family: Marola;
  src: url("../font/Marola.ttf") format("truetype");
}

/*  typography */
body {
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #696c6d;
  font-size: 14px;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p, .paragraph {
  font-weight: 400;
  color: #696c6d;
  font-size: 14px;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1c1d1f;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 45px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 8px 25px;
  border-radius: 50px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:active, .btn:focus {
  outline: 0;
  box-shadow: none !important;
  background-color: #046c34;
  border-color: #046c34;
  color: #fff;
}
.btn:hover {
  text-decoration: none;
  background-color: #046c34;
  border-color: #046c34;
  color: #fff;
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-social {
  display: inline-block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  padding: 0.3125rem 1rem;
  border-radius: 50px;
  border: 1px solid;
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn-social {
    transition: none;
  }
}
.btn-social:active, .btn-social:focus {
  outline: 0;
  box-shadow: none !important;
  background-color: #046c34;
  border-color: #046c34;
  color: #fff;
}
.btn-social:hover {
  text-decoration: none;
  background-color: #046c34;
  border-color: #046c34;
  color: #fff;
}
.btn-social.disabled, .btn-social:disabled {
  opacity: 0.65;
}
.btn-social:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a.btn-social.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-icon {
  width: 43px;
  height: 43px;
  position: relative;
  display: center;
  padding: 0.312rem 0.625rem;
  color: #ffffff;
  font-size: 1.25rem;
  background-color: #046c34;
}
.btn-icon:hover {
  color: #ffffff;
  background-color: #035b2c;
}

.btn-primary {
  background-color: #046c34;
  color: #fff;
  border-color: #046c34;
}
.btn-primary:active, .btn-primary.focus, .btn-primary.active {
  background-color: #046c34 !important;
  border-color: #046c34 !important;
}
.btn-primary:hover {
  background-color: #035b2c;
  border-color: #035b2c;
}

.btn-outline-primary {
  background-color: transparent;
  color: #696c6d;
  border-color: #046c34;
}
.btn-outline-primary:active, .btn-outline-primary.focus, .btn-outline-primary.active {
  background-color: #046c34 !important;
  border-color: #046c34 !important;
  color: #fff;
}
.btn-otline-primary:hover {
  background-color: #035b2c !important;
  border-color: #035b2c !important;
}

.btn-outline-light {
  background-color: transparent;
  color: #696c6d;
  border-color: #ddd;
}
.btn-outline-light:active, .btn-outline-light:hover, .btn-outline-light.focus, .btn-outline-light.active {
  background-color: #f0f0f0 !important;
  border-color: #ddd !important;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #518024;
  color: #fff;
}

::selection {
  background: #518024;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus,
button:focus,
select:focus {
  outline: 0;
}

a:hover {
  color: #046c34;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: #ddd !important;
}

/* overlay */
.overlay {
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #046c34 !important;
}

.text-primary {
  color: #046c34 !important;
}

.text-color {
  color: #696c6d;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-lg, .post-slider {
  border-radius: 10px !important;
}

.rounded-lg, .post-slider-quotes {
  border-radius: 0;
}

.border-default {
  border-color: #ddd !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  font-size: 80%;
}
.form-control::placeholder {
  font-size: 80%;
}

.nav-item {
  margin: 0;
}
.nav-item .nav-link {
  text-transform: capitalize;
}

.navbar-white .navbar-nav .nav-link {
  color: #1c1d1f;
}
.navbar-white .navbar-nav .nav-link:hover {
  color: #649a44;
}
.navbar-white .navbar-nav .nav-link:active, .navbar-white .navbar-nav .nav-link.active {
  color: #649a44;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 15px 20px;
}

.navbar .page-title {
  display: -webkit-box;
  align: center;
  max-width: 175px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  color: #2f2f2f;
  font-size: 1.125rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (min-width: 768px) {
  .navbar .page-title {
    font-size: 1.625rem;
    max-width: 510px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 1200px) {
  .navbar .page-title {
    max-width: unset;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}

.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  border: 0;
  top: 50px;
  left: 0px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  transform: scale(0.8);
  background: #fff;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transform-origin: unset;
  }
}
.navbar .dropdown-menu.show {
  visibility: hidden;
}
@media (max-width: 991px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}
.navbar .dropdown-item {
  position: relative;
  color: #1c1d1f;
  transition: 0.2s ease;
  font-size: 14px;
}
@media (max-width: 991px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}
.navbar .dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}
.navbar .dropdown-item:hover {
  color: #649a44 !important;
  background: transparent;
}
.navbar .dropdown-item:active, .navbar .dropdown-item.active, .navbar .dropdown-item:focus, .navbar .dropdown-item.focus {
  color: #649a44;
  background: transparent;
}

/* Nav Underline Active */
.nav-underline-active-primary .nav-item .nav-link {
  color: #649a44;
  position: relative;
  padding-bottom: 0.2rem;
}
@media (min-width: 1500px) {
  .nav-underline-active-primary .nav-item .nav-link {
    padding-bottom: 0rem;
  }
}
.nav-underline-active-primary .nav-item .nav-link.active {
  color: #649a44;
}
.nav-underline-active-primary .nav-item .nav-link.active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #649a44;
}
.nav-underline-active-primary .nav-item.dropdown.show .nav-link {
  color: #649a44;
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: 0.2s ease;
  opacity: 0;
}
.search-wrapper.open {
  visibility: visible;
  opacity: 1;
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: #fff;
  font-size: 20px;
  padding: 0;
}
.search-box:focus {
  box-shadow: none !important;
  outline: 0;
}

.search-close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  page-break-after: 10px;
  font-size: 20px;
}

.post-title {
  color: #1c1d1f;
}
.post-title:hover {
  color: #046c34;
}

.welcome-title {
  color: #1c1d1f;
  font-size: 55px;
}

.post-meta li {
  margin-right: 10px;
  font-size: 90%;
}
.post-meta a {
  color: #696c6d;
  border-bottom: 1px dotted #ddd;
}
.post-meta a:hover {
  color: #649a44;
}

.recent-thumb-alt {
  font-size: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #046c34;
  text-align: center;
}
.recent-thumb-alt::first-letter {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.social-icons {
  margin-bottom: 0;
}
.social-icons a {
  display: block;
  color: #888c8e;
  padding: 5px;
  font-size: 14px;
}
.social-icons a:hover {
  color: #649a44;
}

.social-icons-rounded {
  margin-bottom: 0;
}
.social-icons-rounded a {
  display: block;
  color: #888c8e;
  font-size: 14px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.social-icons-rounded a:hover {
  color: #046c34;
  border-color: #046c34;
}

.post-slider {
  overflow: hidden;
  margin-bottom: 20px;
}
.post-slider-quotes {
  overflow: hidden;
  margin-bottom: 10px;
}
.post-slider img {
  border-radius: inherit;
}
.post-slider:hover .prevArrow {
  left: 10px;
}
.post-slider:hover .nextArrow {
  right: 10px;
}
.post-slider-quotes:hover .prevArrow {
  left: 10px;
}
.post-slider-quotes:hover .nextArrow {
  right: 10px;
}

.slider-sm .slick-arrow {
  height: 35px;
  width: 35px;
  line-height: 35px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: rgba(206, 132, 96, 0.5);
  color: #fff;
  border: 0;
}
@media (max-width: 575px) {
  .slick-arrow {
    display: none;
  }
}
.slick-arrow:focus {
  outline: 0;
}
.slick-arrow:hover {
  background: #046c34;
}

.prevArrow {
  left: -60px;
}

.nextArrow {
  right: -60px;
}

.pagination {
  margin-top: 50px;
}
.pagination .page-item .page-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #f0f0f0;
  text-align: center;
  padding: 0;
  margin-right: 10px;
  border: 0;
  color: #696c6d;
}
.pagination .page-item .page-link:hover {
  background: #046c34;
  color: #fff;
}
.pagination .page-item .page-link:focus {
  box-shadow: none;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 50%;
}
.pagination .page-item.active .page-link {
  background: #046c34;
  color: #fff;
}

.content * {
  word-break: break-word;
  overflow-wrap: break-word;
}
.content img {
  max-width: 100%;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 500;
}
.content strong {
  font-weight: 600;
}
.content a {
  color: #696c6d;
  border-bottom: 1px dotted #ddd;
}
.content a:hover {
  color: #046c34;
}
.content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}
.content table td,
.content table th {
  padding: 0.75rem;
  vertical-align: top;
  margin-bottom: 0;
}
.content tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.content th {
  font-weight: 500;
}
.content thead {
  background: #f0f0f0;
  margin-bottom: 0;
}
.content thead tr {
  border-bottom: 1px solid #ddd;
}
.content tbody {
  background: #fdfdfd;
  margin-bottom: 0;
}
.content .notices {
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
}
.content .notices p {
  padding: 10px;
  margin-bottom: 0;
}
.content .notices p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e717";
  left: 10px;
}
.content .notices.note p {
  border-top: 30px solid #6ab0de;
  background: #f0f0f0;
}
.content .notices.note p::after {
  content: "Note";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}
.content .notices.tip p {
  border-top: 30px solid #78C578;
  background: #f0f0f0;
}
.content .notices.tip p::after {
  content: "Tip";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}
.content .notices.info p {
  border-top: 30px solid #F0B37E;
  background: #f0f0f0;
}
.content .notices.info p::after {
  content: "Info";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}
.content .notices.warning p {
  border-top: 30px solid #E06F6C;
  background: #f0f0f0;
}
.content .notices.warning p::after {
  content: "Warning";
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}
.content blockquote {
  font-size: 20px !important;
  color: #696c6d;
  padding: 20px 40px;
  border-left: 2px solid #046c34;
  margin: 40px 0;
  font-weight: bold;
  background: #f0f0f0;
}
.content blockquote p {
  margin-bottom: 0 !important;
}
.content pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
  white-space: pre-wrap;
}
.content code {
  margin-bottom: 0 !important;
  font-size: 100%;
}

.code-tabs {
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
}
.code-tabs .nav-tabs {
  margin-bottom: 0;
}
.code-tabs .nav-tabs .nav-item {
  padding-left: 0;
  border-right: 1px solid #ddd;
}
.code-tabs .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
  border: 0;
}
.code-tabs .nav-tabs .nav-item::before {
  display: none;
}
.code-tabs .nav-tabs .nav-item.active {
  background: #046c34;
}
.code-tabs .nav-tabs .nav-item.active .nav-link {
  color: #fff;
}
.code-tabs .tab-content {
  padding: 20px 15px;
}

.title-bordered {
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 2px;
}
.title-bordered h1,
.title-bordered h2,
.title-bordered h3,
.title-bordered h4,
.title-bordered h5,
.title-bordered h6 {
  background: #f0f0f0;
  padding: 10px 25px;
  margin-bottom: 0;
  border-radius: inherit;
  display: inline-block;
}

.form-group label {
  font-size: 13px;
  color: #1c1d1f;
}
.form-group .form-control {
  border-color: #ddd;
}
.form-group .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #046c34;
}
.form-group textarea.form-control {
  height: 120px;
}

.widget {
  background: #fff;
  margin-bottom: 40px;
}
.widget-title {
  position: relative;
  margin-bottom: 15px;
}
.widget-title span {
  background: #fff;
  position: relative;
  padding-right: 5px;
  z-index: 1;
}
.widget-title::before {
  position: absolute;
  content: "";
  right: 0;
  height: 1px;
  width: 100%;
  background: #ddd;
  top: 50%;
}
.widget-search {
  position: relative;
}
.widget-search input {
  border: 0;
  border-bottom: 1px dotted #ddd;
  width: 100%;
  height: 40px;
}
.widget-search input:focus {
  outline: 0;
}
.widget-search input::-moz-placeholder {
  font-size: 90%;
}
.widget-search input::placeholder {
  font-size: 90%;
}
.widget-search button {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0;
  background: #f0f0f0;
  color: #1c1d1f;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 5px;
  border: 0;
  font-size: 12px;
}
.widget-list li {
  padding: 5px 0;
}
.widget-list li:not(:last-child) {
  border-bottom: 1px dotted #ddd;
}
.widget-list li a {
  color: #1c1d1f;
}
.widget-list li a:hover {
  color: #046c34;
}
.widget-list-inline li {
  margin-bottom: 10px;
}
.widget-list-inline li a {
  padding: 2px 10px;
  border: 1px solid #ddd;
  border-radius: 40px;
  display: block;
  color: #696c6d;
}
.widget-list-inline li a:hover {
  border-color: #046c34;
  background: #046c34;
  color: #fff;
}
.widget-post {
  padding: 15px 0 !important;
}
.widget-post img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-list a {
  display: block;
  color: #888c8e;
  padding: 5px 0;
}
.footer-list a:hover {
  color: #046c34;
}

.subscription .form-control {
  background-color: #f0f0f0;
  border: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
.subscription .email-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  color: #046c34;
}

.quote {
  background-color: #f0f0f0;
  display: flex;
  padding: 20px;
}
.quote i {
  font-size: 24px;
  color: #046c34;
  margin-right: 10px;
}
.quote p {
  font-style: italic;
}
.quote-by {
  color: #046c34;
}

.scroll-top {
  border-top: 1px solid #ddd;
  position: relative;
  margin: 20px 0 40px;
}
.scroll-top a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #046c34;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: block;
}
.scroll-top a:hover {
  background-color: #035b2c;
  text-decoration: none;
}

.captcha {
	font-family: Marola;
	display: block;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
    font-weight: 400;
}
i.fa-refresh {
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}
i.fa-refresh:hover {
  transform: rotate(180deg);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.90625rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #ece2f9;
  background-color: #9e6de0;
  border-color: #9e6de0;
}
.alert-primary hr {
  border-top-color: #9058dc;
}
.alert-primary .alert-link {
  color: #d0b8f0;
}

.alert-secondary {
  color: #ffdce9;
  background-color: #fd5190;
  border-color: #fd5190;
}
.alert-secondary hr {
  border-top-color: #fd3880;
}
.alert-secondary .alert-link {
  color: #ffa9c9;
}

.alert-success {
  color: #cef5e8;
  background-color: #0acb8e;
  border-color: #0acb8e;
}
.alert-success hr {
  border-top-color: #09b37d;
}
.alert-success .alert-link {
  color: #a4ecd4;
}

.alert-info {
  color: #cdf4f9;
  background-color: #04c7e0;
  border-color: #04c7e0;
}
.alert-info hr {
  border-top-color: #04b1c7;
}
.alert-info .alert-link {
  color: #9feaf4;
}

.alert-warning {
  color: #fff3cc;
  background-color: #fec400;
  border-color: #fec400;
}
.alert-warning hr {
  border-top-color: #e5b000;
}
.alert-warning .alert-link {
  color: #ffe799;
}

.alert-danger {
  color: #ffdddf;
  background-color: #fe5461;
  border-color: #fe5461;
}
.alert-danger hr {
  border-top-color: #fe3b4a;
}
.alert-danger .alert-link {
  color: #ffaaaf;
}

.alert-light {
  color: #fcfcfd;
  background-color: #f0f1f5;
  border-color: #f0f1f5;
}
.alert-light hr {
  border-top-color: #e1e3eb;
}
.alert-light .alert-link {
  color: #dddde9;
}

.alert-dark {
  color: #d6d6d8;
  background-color: #31343d;
  border-color: #31343d;
}
.alert-dark hr {
  border-top-color: #26282f;
}
.alert-dark .alert-link {
  color: #bcbcbf;
}

.alert-info-dark {
  color: #e0e9fe;
  background-color: #6493fa;
  border-color: #6493fa;
}
.alert-info-dark hr {
  border-top-color: #4b82f9;
}
.alert-info-dark .alert-link {
  color: #afc6fc;
}

.alert-smoke {
  color: #e8e9eb;
  background-color: #8a909d;
  border-color: #8a909d;
}
.alert-smoke hr {
  border-top-color: #7c8391;
}
.alert-smoke .alert-link {
  color: #cdcfd3;
}

.alert.alert-icon {
  padding-left: 4.375rem;
  border: none;
}
.alert.alert-icon i {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}
.alert.alert-outlined {
  background-color: transparent;
  color: #31343d;
}

.sub-img {
  line-height: -3;
  font-size: 9px;
  margin-buttom: -10px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  unselectable: on;
}

.not-select {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  unselectable: on;
}

input[type="date"]:not(.has-value):before{
  color: gray;
  opacity: 90%;
  content: attr(placeholder);
}
input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input {
  overflow: visible;
}

.comingsoon-wrapper {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: -26rem;
}
.comingsoon-wrapper .app-brand {
  margin-bottom: 2rem;
}

.comingsoon-header h1 {
  text-transform: uppercase;
  margin-bottom: 0.325rem;
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  .comingsoon-header h1 {
    font-size: 2.34rem;
  }
}

.syotimer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: -50rem;
}
@media (min-width: 768px) {
  .syotimer__body {
    margin-top: 3.75rem;
  }
}

.syotimer-cell {
  width: 70px;
  height: 80px;
  margin-right: 0.75rem;
  border: 1px solid #046c34;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .syotimer-cell {
    width: 120px;
    height: 150px;
    margin-right: 30px;
  }
}
.syotimer-cell:last-child {
  margin-right: 0;
}

.syotimer-cell__value {
  font-size: 2rem;
  color: #31343d;
}
@media (min-width: 768px) {
  .syotimer-cell__value {
    font-size: 3.5rem;
  }
}

.syotimer-cell__unit {
  display: none;
}

.form-subscript {
  position: relative;
  max-width: 440px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 576px) {
  .form-subscript {
    margin-left: auto;
    margin-right: auto;
  }
}
.form-subscript .btn-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 1.5rem;
}

.post-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
@media (min-width: 768px) {
  .post-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 1200px) {
  .post-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }
}

a .social-link {
  color: #696c6d;
}
a .social-link:hover {
  color: #649a44;
}

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.check-box:hover input ~ .checkmark {
    background-color: #eee;
}

.check-box input:checked ~ .checkmark {
    background-color: #eee;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box input:checked ~ .checkmark:after {
    display: block;
    border: solid #046c34;
    border-width: 0 3px 3px 0;
}

.check-box .checkmark:after {
    left: 8px;
    top: 3px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.4s ease-ot;
}

/*# sourceMappingURL=style.css.map */