@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
    font-family: Marola;
    src: url('../fonts/Marola.ttf') format('truetype');
}

@font-face {
    font-family: Cousine;
    src: url('../fonts/Cousine.ttf') format('truetype');
}

:root {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
}

:root[light-theme] {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --text1: #37394C;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #e6e9ef;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --shadow-color: #b8babd;
    --highlight-color: #ffffff;
    --navbar-bg-color: rgba(230, 233, 239, 50%);
    --navbar-border-color: rgba(213, 217, 225, 60%);
}
:root[dark-theme] {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --text1: #DEE3F4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --shadow-color: #101017;
    --highlight-color: #2b2b41;
    --navbar-bg-color: rgba(24, 24, 37, 50%);
    --navbar-border-color: rgba(40, 40, 62, 60%);
}

:focus {
    outline: none !important;
}

body {
    background-color: var(--base);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: var(--sky);
}
a:hover {
  text-decoration: none;
  color: var(--blue);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

hr {
    border-color: var(--navbar-border-color);
    transition: all 0.3s;
    padding-bottom: 10px;
}

footer {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    backdrop-filter: blur(15px);
    color: var(--text);
    background-color: var(--navbar-bg-color);
    border-top: 1px solid var(--navbar-border-color);
}

footer span {
    font-size: 14px;
    margin-bottom: 1px;
}

label {
  font-weight: 700;
}

.footer-top {
    padding-top: 6em;
}

.rosewater-color {
    color: var(--rosewater);
}
.flamingo-color {
    color: var(--flamingo);
}
.pink-color {
    color: var(--pink);
}
.mauve-color {
    color: var(--mauve);
}
.red-color {
    color: var(--red);
}
.maroon-color {
    color: var(--maroon);
}
.peach-color {
    color: var(--peach);
}
.yellow-color {
    color: var(--yellow);
}
.green-color {
    color: var(--green);
}
.teal-color {
    color: var(--teal);
}
.sky-color {
    color: var(--sky);
}
.sapphire-color {
    color: var(--sapphire);
}
.blue-color {
    color: var(--blue);
}
.lavender-color {
    color: var(--lavender);
}
.text-color {
    color: var(--text);
}
.text1-color {
    color: var(--text1);
}
.subtext1-color {
    color: var(--subtext1);
}
.subtext0-color {
    color: var(--subtext0);
}

.navbar a {
    text-decoration: none;
    color: var(--text);
}

.navbar a:active {
    color: var(--subtext1);
}

.navbar-brand {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}
.navbar-brand:hover {
    transform: translateY(-3px);
}

.navbar-brand:active {
    transform: translateY(3px);
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
}

.card-neumorphism {
    border-radius: 15px;
    border: 0px;
    background: var(--base);
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.theme-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 1em;
    border: 2px solid transparent;
    background-color: var(--base);
    box-shadow: 7px 7px 15px var(--shadow-color), -7px -7px 15px var(--highlight-color);
    cursor: pointer;
    transition: all 0.3s;
}

.theme-toggle-btn:hover {
    transform: translateY(-3px);
}

.theme-toggle-btn:active {
    transform: translateY(3px);
    box-shadow: inset 7px 7px 15px var(--shadow-color), inset -7px -7px 15px var(--highlight-color);
}

.theme-toggle-btn i {
    color: var(--lavender);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.theme-toggle-btn:active i {
    color: var(--lavender);
}

.icon-text-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    color: var(--subtext1);
    background-color: var(--base);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.icon-text-btn:hover {
    transform: translateY(-3px);
    text-decoration: none;
    color: var(--subtext1);
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.icon-text-btn:active {
    transform: translateY(1px);
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.icon-text-btn i {
    font-size: 1.2rem;
    vertical-align: middle;
    color: var(--sky);
}

.underline-nav .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 15px;
    color: var(--teal);
    transition: all 0.3s;
}

.nav-tabs {
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.underline-nav .nav-link:hover {
    backdrop-filter: blur(50px);
}

.underline-nav .nav-link:focus,
.underline-nav .nav-link.active {
    border-color: var(--green);
    color: var(--green);
    background: transparent;
    transition: all 0.3s;
}

.footer-link {
    font-size: 12px;
    font-weight: 290;
    transition: all 0.3s;
}

.footer-link .link {
    color: var(--subtext0);
}

.footer-link .link:hover,
.footer-link .link:active {
    color: var(--sapphire) !important;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    backdrop-filter: blur(15px);
    color: var(--text);
    background-color: var(--navbar-bg-color);
    border-bottom: 1px solid var(--navbar-border-color);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
    padding-right: 5px;
}

.menu-icon div {
    width: 32px;
    height: 4px;
    background-color: var(--text);
    margin: 2px 0;
    transition: all 0.3s;
}

.menu-icon.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-icon.active div:nth-child(2) {
    opacity: 0;
}

.menu-icon.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.navbar-background {
    position: absolute;
    left: 0;
    top: -200%;
    width: 100%;
    background-color: var(--base);
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    z-index: 999;
    overflow: hidden;
    padding: 0 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 0;
    animation: collapseMenu 0.7s ease-in-out forwards;
    transition: all 0.3s;
}

.navbar-background:active, .navbar-background:focus,
.navbar-background.active, .navbar-background.focus {
	animation: expandMenu 0.9s ease-in-out forwards;
}

@keyframes expandMenu {
    from {
        height: 0;
        top: -100%;
    }
    to {
        height: auto;
        top: 0;
    }
}

@keyframes collapseMenu {
    from {
        height: auto;
        top: 0;
    }
    to {
        height: 0;
        top: -200%;
    }
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.submenu.active {
    background-color: var(--active-bg-color); /* Warna latar belakang aktif */
    color: var(--active-text-color); /* Warna teks aktif */
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.2); /* Efek Neumorphism ke dalam */
}

.submenu-content {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--base);
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    position: relative;
    transition: all 0.3s;
}

.submenu-content.show {
    display: flex;
    animation: slideIn 0.4s forwards;
}

.submenu-content.hide {
    display: flex;
    animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.nav-btn {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 0.75rem;
    color: var(--text);
}

@media (min-width: 768px) {
    .nav-btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }
}

.nav-btn:hover, .nav-btn:active, .nav-btn:focus,
.nav-btn.active, .nav-btn.focus {
    border: none;
}

.nav-btn-neumorphic, .nav-btn-neumorphic-inset {
    background-color: transparent;
    color: var(--subtext1);
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.nav-btn-neumorphic:hover, .nav-btn-neumorphic:active, .nav-neumorphic-btn:focus,
.nav-btn-neumorphic.active, .nav-btn-neumorphic.focus {
    background-color: var(--base);
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
}

.nav-btn-neumorphic-inset:hover, .nav-btn-neumorphic-inset:active, .nav-btn-neumorphic-inset:focus,
.nav-btn-neumorphic-inset.active, .nav-btn-neumorphic-inset.focus {
    background-color: var(--base);
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

:-ms-input-placeholder {
    color: var(--subtext0);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--subtext0);
    opacity: 1;
}

::placeholder {
    color: var(--subtext0);
    opacity: 1;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: var(--base);
    color: var(--subtext1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--base);
    box-shadow: 7px 7px 20px var(--shadow-color), -7px -7px 20px var(--highlight-color);
}

button[type="submit"]:active {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.wa-container {
    display: flex;
    align-items: center;
}

.wa-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.8px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa-icon i {
    font-size: 20px;
}

input[type="text"]#no-whatsapp {
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]#no-whatsapp:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.ig-container {
    display: flex;
    align-items: center;
}

.ig-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.8px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ig-icon i {
    font-size: 20px;
}

input[type="text"]#user-instagram, input[type="text"]#user-instagram2 {
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]#user-instagram:focus, input[type="text"]#user-instagram2:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.mail-container {
    display: flex;
    align-items: center;
}

.mail-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.8px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-icon i {
    font-size: 20px;
}

input[type="text"]#email-address {
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]#email-address:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.address-container {
    display: flex;
    align-items: center;
}

.address-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.8px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-icon i {
    font-size: 20px;
}

input[type="text"]#address {
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]#address:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.student-id-container {
    display: flex;
    align-items: center;
}

.student-id-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.8px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-id-icon i {
    font-size: 20px;
}

input[type="number"]#student {
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="number"]#student:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.refresh-container {
    display: flex;
    align-items: center;
    outline: none;
}

.refresh-icon {
    background-color: var(--base);
    padding: 12px;
    padding-top: 11.6px;
    padding-bottom: 11.6px;
    margin-top: -5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    color: var(--text);
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    outline: none;
}

.refresh-icon i {
    font-size: 20px;
    cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}

.refresh-icon i:hover {
    font-size: 20px;
    transform: rotate(90deg);
}

.refresh-icon:hover, .refresh-icon:active, .refresh-icon:focus {
  box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
  outline: none;
}

input[type="text"]#captcha-input {
    font-family: Cousine;
    width: 100%;
    padding: 10px;
    border: none;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
    color: var(--text);
}

input[type="text"]#captcha-input:focus {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--base);
    box-shadow: inset 5px 5px 10px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    border: none;
    border-radius: 5px;
}

.check-box:hover input ~ .checkmark {
    background-color: var(--base);
}

.check-box input:checked ~ .checkmark {
    background-color: var(--base);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box input:checked ~ .checkmark:after {
    display: block;
    border: solid var(--sky);
    border-width: 0 3px 3px 0;
}

.check-box .checkmark:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 0.4s ease-ot;
}

.check-box a {
  text-decoration: none;
  color: var(--sky);
}
.check-box a:hover {
  text-decoration: none;
  color: var(--blue);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.90625rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  color: var(--highlight-color);
  background-color: var(--green);
  border-color: var(--green);
}
.alert-success hr {
  border-top-color: var(--green);
}
.alert-success .alert-link {
  color: #a4ecd4;
}

.alert-info {
  color: var(--highlight-color);
  background-color: var(--blue);
  border-color: var(--blue);
}
.alert-info hr {
  border-top-color: var(--blue);
}
.alert-info .alert-link {
  color: #9feaf4;
}

.alert-warning {
  color: var(--highlight-color);
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.alert-warning hr {
  border-top-color: var(--yellow);
}
.alert-warning .alert-link {
  color: #ffe799;
}

.alert-danger {
  color: var(--highlight-color);
  background-color: var(--red);
  border-color: var(--red);
}
.alert-danger hr {
  border-top-color: var(--red);
}
.alert-danger .alert-link {
  color: #ffaaaf;
}

.alert.alert-icon {
  padding-left: 4.375rem;
  border: none;
}
.alert.alert-icon i {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
}
.alert.alert-outlined {
  background-color: transparent;
  color: #31343d;
}

.captcha {
	font-family: Marola;
	display: block;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
    font-weight: 400;
    font-size: 4em;
    padding: 0.5em;
    background-color: var(--base);
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
}

.title-large {
  font-size: 7em;
}

.comingsoon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base);
}

.comingsoon-wrapper .app-brand {
  margin-bottom: 2rem;
}

.comingsoon-header h1 {
  text-transform: uppercase;
  margin-bottom: 0.325rem;
  font-size: 1.875rem;
}
@media (min-width: 768px) {
  .comingsoon-header h1 {
    font-size: 2.34rem;
  }
}

.container-syotimer {
  padding-top: 2.75em;
}
@media (min-width: 768px) {
  .container-syotimer {
    padding-top: 9em;
  }
}

.syotimer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .syotimer__body {
    margin-top: 3.75rem;
  }
}

.syotimer-cell {
  width: 50px;
  height: 60px;
  margin-right: 0.5rem;
  border-radius: 10px;
  background: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

@media (min-width: 768px) {
  .syotimer-cell {
    width: 110px;
    height: 130px;
    margin-right: 20px;
  }
}

.syotimer-cell:last-child {
  margin-right: 0;
}

.syotimer-cell__value {
  font-size: 1.15rem;
  padding: 0.75rem;
  color: var(--text);
}
@media (min-width: 768px) {
  .syotimer-cell__value {
    font-size: 2.75rem;
    padding: 0.75rem;
  }
}

.syotimer-cell__unit {
  display: none;
}

.container-404 {
  padding-top: 6em;
}
@media (min-width: 768px) {
  .container-404 {
    padding-top: 9em;
  }
}

.container-maintenance {
  padding-top: 5em;
}
@media (min-width: 768px) {
  .container-maintenance {
    padding-top: 9em;
  }
}

.container-questionnaire {
  padding-top: 4em;
}
@media (min-width: 768px) {
  .container-questionnaire {
    padding-top: 9em;
  }
}

.container-sent {
  padding-top: 3em;
}
@media (min-width: 768px) {
  .container-sent {
    padding-top: 9em;
  }
}

.container-quotes {
  padding-top: 5.5em;
}
@media (min-width: 768px) {
  .container-quotes {
    padding-top: 9em;
  }
}

.container-register {
  padding-top: 4em;
}
@media (min-width: 768px) {
  .container-register {
    padding-top: 9em;
  }
}

.container-syotimer-register {
  padding-top: 2em;
}
@media (min-width: 768px) {
  .container-syotimer-register {
    padding-top: 9em;
  }
}

.admin-dropdown-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.admin-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    font-size: 16px;
    font-weight: 600;
    color: var(--subtext1);
    background-color: var(--base);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--shadow-color), -5px -5px 15px var(--highlight-color);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s, color 0.3s;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 100%;
    appearance: none;
    position: relative;
}

.dropdown-icon {
    position: absolute;
    right: 15px;
    pointer-events: none;
    font-size: 1.2rem;
    color: var(--subtext1);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.admin-dropdown:hover {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.admin-dropdown:active {
    box-shadow: inset 5px 5px 15px var(--shadow-color), inset -5px -5px 15px var(--highlight-color);
}

.admin-dropdown:focus + .dropdown-icon {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .admin-dropdown-wrapper {
        max-width: 100%;
    }

    .admin-dropdown {
        width: 100%;
    }
}